.author-info h6 {
	font-family: "Oswald", sans-serif;
}

.author-info p {
	margin-bottom: 0.5em;
	font-size: 0.9em;
}

.author-info ul {
	margin-left: 0;
}
.author-info ul li {
	display: inline-block;
	margin-right: 0.5em;
}

.author-info ul li a {
	font-size: 1.5rem;
}