/* 
 Global styles for FoundationPress
 Demo: http://foundationpress.olefredrik.com
*/

// Prettify type rendering
body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

body, html {
	height: 100%;
}

.anchor {
	display: block;
    position: relative;
    top: -120px;
    visibility: hidden;
}

.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

.slick-slide {
	&:focus {
		outline: none;
	}
}

.back-bar {
	a.button {
	    border: 1px solid $orange;
	    color: $orange;
	    margin: 1rem 0;
	    &:hover {
	    	background: $orange;
	    	color: white;
	    }
	}
}

// RESPONSIVE VIDEO
.video-container {
	position: relative; 
	padding-bottom: 56.25%; 
	height: 0; 
	overflow: hidden; 
	max-width: 100%;
	iframe, object, embed { 
		position: absolute; 
		top: 0; 
		left: 0; 
		width: 100%; 
		height: 100%; 
	}
} 

// FADE IN CSS
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
	opacity:0;
	-webkit-animation:fadeIn ease-in 1; 
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;

	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:0.5s;
	-moz-animation-duration:0.5s;
	animation-duration:0.5s;

 	&.one {
		-webkit-animation-delay: 0.2s;
		-moz-animation-delay: 0.2s;
		animation-delay: 0.2s;
	}
	&.two {
		-webkit-animation-delay: 0.6s;
		-moz-animation-delay: 0.6s;
		animation-delay: 0.6s;
	}
	&.three {
		-webkit-animation-delay: 1s;
		-moz-animation-delay: 1s;
		animation-delay: 1s;
	}
	&.four {
		-webkit-animation-delay: 1.4s;
		-moz-animation-delay: 1.4s;
		animation-delay: 1.4s;
	}
}

// REMODAL FIX
.reveal-modal[aria-hidden=true] {
    display: block !important;
    height: 0px !important;
    overflow: hidden !important;
}

.reveal-modal[aria-hidden=false] {
    display: block !important;
    height: auto !important;
}

// STANDARD FORM STYLES
.standard-form {
	input[type=text],
	input[type=email],
	input[type=tel],
	input[type=url],
	textarea {
		border: 1px solid #ccc;
		text-transform: uppercase;
	}
	span.wpcf7-list-item { display: block; }
	hr {
		margin: 2rem 0;
	}
}

// Contact Form 7 Styles
div.wpcf7-validation-errors {
    border: none;
    color: white;
}

// Reset margin and padding on figure element
figure { 
	margin: 0; 
	padding: 0;
}

// Add some basic styling for figcaption element
figcaption {
	margin-bottom: rem-calc(20);
	margin-top: rem-calc(10); 
	color: #6f6f6f; 
}

// Styling for forms including: input, textarea, and submit buttons
input[type=text], textarea {
	background-color: white;
	border: none;
}

input.button {
	background: $gray;
	color: white;
	font-family: $oswald;
	font-size: 1.1rem;
    font-weight: lighter;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 0.6rem 1.2rem;
    &:hover {
    	background-color: white;
    	color: $gray;
    }
}

// Add the alignment classes used by the WordPress media library

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

blockquote.alignleft,
img.alignleft {
	margin: rem-calc(7) rem-calc(24) rem-calc(7) 0;
}

.wp-caption.alignleft {
	margin: rem-calc(7) rem-calc(14) rem-calc(7) 0;
}

blockquote.alignright,
img.alignright {
	margin: rem-calc(7) 0 rem-calc(7) rem-calc(24);
}

// Expands .row to 100%
.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: 100%;
}

// Button Styles
.button, a.button {
	background: white;
	color: $gray;
	font-family: $oswald;
	font-size: 1.1rem;
	font-weight: lighter;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 0.6rem 1.2rem;
    &:hover {
    	background: $purple;
    	color: white;
    }
}