/* =====================
    HEADER STYLES
   =====================
*/

.intro-vid-container {
	background: white;
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	video#intro-vid {
		position: fixed;
		top: 50%;
		left: 50%;
		// min-width: 100%;
		// min-height: 100%;
		width: 80%;
		height: auto;
		-webkit-transform: translateX(-50%) translateY(-50%);
		transform: translateX(-50%) translateY(-50%);
		background: url(polina.jpg) no-repeat;
		background-size: cover;
	}
}

// HOMEPAGE HERO
section.homepage-hero {
	height: calc(100% - 5rem);
	min-height: 500px;

	/* Background Slider */
	.homepage-hero-bgs {
		background: $purple;
		height: 100%;
		.slick-list, .slick-track {
			height: 100%;
		}
		.bg-1 {
			background-image: url(../assets/img/bg-1-brand.jpg);
			background-size: cover;
			background-position: top center;
		}
		.bg-2 {
			background-image: url(../assets/img/bg-2-career.jpg);
			background-size: cover;
			background-position: top center;
		}
		.bg-3 {
			background-image: url(../assets/img/bg-3-website.jpg);
			background-size: cover;
			background-position: top center;
		}
	}

	/* Hero Text */
	.homepage-hero-text-container {
		position: absolute;
		top: 0;
		height: calc(100% - 5rem);
		min-height: 500px;
    	width: 100%;
    	text-align: center;
		.homepage-hero-text {
			position: relative;
		    top: 80%;
		    -webkit-transform: translateY(-50%);
		    -ms-transform: translateY(-50%);
		    transform: translateY(-50%);
		    .moxy-logo {
		    	position: absolute;
			   	top: -23rem;
			    width: 100%;
			    text-align: center;
			    z-index: -1;
			    img {
			    	width: 100%;
			    	max-width: 870px;
			    }
		    }
			.feature-text {
				color: white;
				text-transform: uppercase;
			    font-size: 2.6rem;
			    letter-spacing: 0.5rem;
			    line-height: 5.6rem;
			    a {
			    	color: $orange;
			    	font-family: 'LHFChicago';
			    	text-transform: none;
				    letter-spacing: 0;
				    font-size: 5.5rem;
				    vertical-align: middle;
				    @include transition-all;
				    // &:hover {
				    // 	color: lighten($orange, 8%);
				    // 	-webkit-animation-name: tada;
  						// animation-name: tada;
				    // }

				    #talentLink, #creativeLink {
				    	display: inline-block;
				    	&:hover {
					    	color: lighten($orange, 8%);
					    	-webkit-animation-name: tada;
	  						animation-name: tada;
					    }
					    &.animated {
					    	padding-right: 1rem;
					    }
				    }
			    }
			}
			.sub-text {
				color: white;
				text-transform: uppercase;
			    font-size: 1.3rem;
			    letter-spacing: 0.2rem;
			}
		}
	}
}


// TALENT & CREATIVE HERO

section.talent-hero {
	background-image: url(../assets/img/moxy-new-bg-4-CAREER.jpg);
}

section.creative-hero {
	background-image: url(../assets/img/moxy-new-bg-creative-1.jpg);
}

section.talent-hero,
section.creative-hero  {
	background-size: cover;
	background-position: top center;
	height: calc(100% - 5rem);
    min-height: 500px;
    a.button.btn-main {
	    position: absolute;
	    top: 1rem;
	    left: 1rem;
	    background: none;
	    border: 1px solid white;
	    color: white;
	    &:hover {
	    	background: rgba(255,255,255, 0.2);
	    }
	}
    .hero-text {
    	max-width: 800px;
    	margin: 0 auto;
    	padding: 0 2rem;
    	text-align: center;
    	@include vertical-align;
    	img.moxy-logo {
    		width: 310px;
    	}
    	img.up-icon {
    		margin-top: 1rem;
    		width: 350px;
    	}
    	hr {
    		border: solid white;
    		border-width: 2px 0 0;
    	}
    	p {
    		color: white;
    		font-family: $arimo;
    		margin: 0;
    		text-transform: uppercase;
    	}
    	span.talent, span.creative {
		    font-size: 2.2rem;
		    letter-spacing: 0.7rem;
		    margin-left: 1.2rem;
		}
		span.your {
		    font-family: "Oswald", sans-serif;
		    font-size: 1.8rem;
		    letter-spacing: 0.3rem;
		    font-weight: lighter;
		}
		span.service {
		    font-size: 2.6rem;
		    letter-spacing: 0.9rem;
		    color: white;
		    margin-left: 0.8rem;
		    text-transform: uppercase;
		}
		.slick-slider {
			overflow: hidden;
		}
    }
}
