/* =====================
    MIXINS
   =====================
*/

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin transition-all {
	-webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

@font-face {
  font-family: 'LHFChicago';
  src: url(../assets/webfonts/lhfchicagoscript-webfont.eot); /* IE9 Compat Modes */
  src: url(../assets/webfonts/lhfchicagoscript-webfont.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
       url(../assets/webfonts/lhfchicagoscript-webfont.woff2) format('woff2'), /* Super Modern Browsers */
       url(../assets/webfonts/lhfchicagoscript-webfont.woff) format('woff'), /* Pretty Modern Browsers */
       url(../assets/webfonts/lhfchicagoscript-webfont.ttf)  format('truetype'), /* Safari, Android, iOS */
       url(../assets/webfonts/lhfchicagoscript-webfont.svg#svgFontName) format('svg'); /* Legacy iOS */
}