@media #{$small-up} { }
@media #{$small-only} {

	// MOBILE NAVIGATION
	.anchor {
		display: block;
	    position: relative;
	    top: -25px;
	    visibility: hidden;
	}

	// INTRO VIDEO
	.intro-vid-container {
		display: none;
	}

	// HOMEPAGE HERO
	section.homepage-hero {
		height: 100%;

		/* Hero Text */
		.homepage-hero-text-container {
			.homepage-hero-text {
				top: 68%;
			    .moxy-logo {
			    	top: -5.2rem;
				    img {
				    	width: 80%;
				    }
			    }
				.feature-text {
					font-size: 1.6rem;
					line-height: 182%;
					padding-left: 1.1rem;
				    a {
				    	font-size: 2.6rem;
				    }
				}
				.sub-text {
					font-size: 0.9rem;
				}
			}
		}
	}

	// HEADER STYLES
	section.moxyup-services {
		height: 100%;
    	padding-top: 2.7rem;
		.talent {
			border-right: none;
			border-bottom: 3px solid white;
			height: 50%;
		}
		.creative {
			border-left: none;
			height: 50%;
		}
		.talent p, .creative p {
			line-height: 2rem;
			top: 45%;
		}
	}

	// TALENT & CREATIVE HERO
	section.talent-hero,
	section.creative-hero {
		height: 100%;
    	padding-top: 2.7rem;
    	.hero-text {
    		img.moxy-logo {
	    		width: 255px;
	    	}
	    	img.up-icon {
	    		margin-top: 1rem;
	    		width: 240px;
	    	}
    		span.talent, span.creative {
			    font-size: 1.5rem;
			}
    		span.service {
			    font-size: 2.5rem;
			    letter-spacing: 0.5rem;
			}
		}
	}

	// CREATIVE HERO
	section.creative-hero {
		height: 100%;
    	padding-top: 2.7rem;
	}

	// HOMEPAGE STYLES
	.banner-divider {
		height: 9rem;
	}

	// OUR STORY
	section.about-us {
		p {
			line-height: 1.8rem;
		}
		.btn-why {
			border-top: none;
			margin-top: 0;
			margin-bottom: 2rem;
		}
		.btn-moxy-story {
			border-top: none;
			margin-top: 0;
			margin-bottom: 1rem;
		}
	}

	// MEET THE TEAM
	section.meet-the-team {
		padding: 2.2rem 0 0.5rem 0;
	}

	// MEMBER DETAIL MODAL
	.member-detail {
	    padding: 3rem 1rem 3rem 1rem;
	    h2 {
	    	font-size: 1.6rem;
	    	margin: 0.5rem 0 1.5rem 0;
	    }
	    .member-thumb {
	    	margin-bottom: 1.5rem;
	    }
	}

	// MOXY BLOG
	section.moxy-blog {
		padding: 2rem 1rem;
		.post {
			margin-bottom: 1.5rem;
		}
	}

	// PARTNERS
	section.partners {
		padding: 2rem 0 1rem 0;
		.partner-logos {
			.logo {
				margin-bottom: 0.5rem;
			}
		}
	}

	// CONTACT US
	section.contact-us {
		textarea {
			margin-top: 1.5rem;
		}
	}
	

	/* =====================
	    CREATIVE STYLES
	   =====================
	*/

	// SERVICES
	section.services {
		img {
			display: block;
			margin: 0 auto 0.5rem auto;
		}
		h3 {
			text-align: center;
		}
	}


	/* =========================
	    SINLGE POST/PAGE STYLES
	   =========================
	*/

	// SINGLE TITLE
	.single-title, .blog-title {
		height: auto;
		p {
			font-size: 1.2rem;
			letter-spacing: 0.2rem;
			padding: 5rem 1rem 2rem 1rem;
		}
	}

	// FOOTER
	footer {
		p {
			font-size: 0.8rem;
		}
		.copy {
			padding-top: 0;
			padding-bottom: 0.5rem;
			text-align: center;
		}
		.slug {
			text-align: center;
		}
	}

}

@media #{$medium-up} { 
	
	// CONTACT US
	section.contact-us {
		.contact-form {
			.columns {
			    padding-right: 0.5rem;
		    	padding-left: 0.5rem;
		    }
		}
    }

}
@media #{$medium-only} {

	// INTRO VIDEO
	.intro-vid-container {
		display: none;
	} 

	// HOMEPAGE HERO
	section.homepage-hero {

		/* Hero Text */
		.homepage-hero-text-container {
			.homepage-hero-text {
				top: 75%;
			    .moxy-logo {
			    	top: -17rem;
				    img {
				    	width: 80%;
				    }
			    }
			    .feature-text {
			    	font-size: 1.4rem;
			    	a {
			    		font-size: 3.8rem;
			    	}
			    }
			    .sub-text {
			    	font-size: 1rem;
			    }
			}
		}
	}

	// HOMEPAGE STYLES
	.banner-divider {
		height: 13rem;
	}
	
	// MOXY BLOG
	section.moxy-blog {
		padding: 2rem;
		.post {
			margin-bottom: 1.3rem;
		}
	}

	// PARTNERS
	section.partners {
		.partner-logos {
			.logo {
				margin-bottom: 1rem;
			}
		}
	}

}

@media #{$large-up} { 

	// PARTNERS
	section.partners {
		.partner-logos {
			.columns {
				padding-left: 0.6rem;
		    	padding-right: 0.6rem;
		    }
		}
	}

	// MOXY JOBS
	section.moxy-jobs {
		min-height: 64.125rem;
	}

}
@media #{$large-only} { }