/* =====================
    SINGLE POST STYLES
   =====================
*/

// SINGLE TITLE
.single-title {
	background-size: cover;
	background-position: center center;
	height: auto;
	p {
		color: white;
	    font-size: 1.8rem;
	    letter-spacing: 0.3rem;
	    margin-bottom: 0;
	    padding: 7rem 1rem;
		text-align: center;
	    text-transform: uppercase;
	    max-width: 1000px;
    	margin: 0 auto;
	}
}

section.single-container {
	padding: 2rem 0;
}