/* =====================
    CAROUSEL STYLES
   =====================
*/

.team-carousel {
	.owl-prev {
		position: absolute;
		top: 35%;
		left: -4rem;
		&:before {
			content: "";
		    display: inline-block;
		    width: 4em;
		    height: 4em;
		    border-left: 0.4em solid lighten($gray, 77%);
		    border-bottom: 0.4em solid lighten($gray, 77%);
		    transform: rotate(45deg);
		    -webkit-transition: all 200ms ease;
		       -moz-transition: all 200ms ease;
		         -o-transition: all 200ms ease;
		            transition: all 200ms ease;
		}
		&:hover {
			&:before {
		    	border-left: 0.4em solid $orange;
		    	border-bottom: 0.4em solid $orange;
		    }
	    }
	}
	.owl-next {
		position: absolute;
		top: 35%;
		right: -4rem;
		&:before {
			content: "";
		    display: inline-block;
		    width: 4em;
		    height: 4em;
		    border-right: 0.4em solid lighten($gray, 77%);
		    border-top: 0.4em solid lighten($gray, 77%);
		    transform: rotate(45deg);
		    -webkit-transition: all 200ms ease;
		       -moz-transition: all 200ms ease;
		         -o-transition: all 200ms ease;
		            transition: all 200ms ease;
		}
		&:hover {
			&:before {
		    	border-right: 0.4em solid $orange;
		    	border-top: 0.4em solid $orange;
		    }
	    }
	}
}


/* =====================
    HOMEPAGE STYLES
   =====================
*/

.banner-divider {
	background-size: cover;
	background-position: center center;
	height: 19rem;
}

section.banner-divider {
	img {
		width: 100%;
	}
}

hr.title-underline {
	margin: 0 0 2rem 0;
	border: solid white;
	border-width: 1px 0 0;
}

// ABOUT US
section.about-us {
	background: $orange url(../assets/img/orange-moxyman-right.jpg);
	background-size: cover;
	background-position: top right;
	padding: 3.5rem 0;
	h1 {
		color: white;
		text-align: center;
	}
	hr {
		border-color: white;
	}
	p {
		color: white;
		line-height: 2.2rem;
	}
	.btn-why, .btn-moxy-story {
		border: 1px solid white;
		color: white;
		display: block;
    	font-size: 1.1rem;
    	letter-spacing: 1px;
    	padding: 1.4rem 0.5rem;
    	text-align: center;
		text-transform: uppercase;
		@include transition-all;
		&:hover {
			background: white;
			color: $orange;
		}
	}
	.btn-why {
		margin-top: 1rem;
	}
	.btn-moxy-story {
		margin-bottom: 1rem;
	}
}

.our-story-modal {
    max-width: 700px !important;
}

// MEET THE TEAM
section.meet-the-team {
	padding: 2.7rem 0 3.5rem 0;
	h2 {
		text-align: center;
	}
	hr {
		border-color: black;
	}
	.the-team-mobile {
		img {
			margin-bottom: 1.875rem;
			width: 100%;
		}
	}
}

// MEMBER DETAIL MODAL
.member-detail {
	padding: 3.5rem 3rem;
	text-align: left;
	h2 {
		font-size: 2rem;
    	margin: 0.5rem 0 2.6rem 0;
		span {
			color: $orange;
		}
	}
	.member-thumb {
		img {
			width: 100%;
		}
	}
	.one-liner {
		color: $orange;
		font-style: italic;
	}
}


// MOXY BLOG
section.moxy-blog {
	background: $orange url(../assets/img/orange-moxyman-left.jpg);
	background-size: cover;
	background-position: top left;
	padding: 3rem 0 2rem 0;
	h2 {
		color: white;
		text-align: center;
	}
	hr {
		border-color: white;
	}
	.button {
		margin-top: 2rem;
	}
	.blog-posts {
		.columns {
			padding-left: 0.65rem;
			padding-right: 0.65rem;
		}
	}
	.post {
		background: rgba(255, 255, 255, 0.45);
		border: 3px solid white;
		padding: 1.4rem 1rem 0 1rem;
		h3 {
			font-size: 1.3rem;
			text-align: center;
		}
		hr {
			border-color: black;
		}
		p {
			font-size: 0.8rem;
    		line-height: 1.2rem;
		}
		a.read-more {
		    display: inline-block;
		    border: 1px solid black;
		    color: black;
		    float: right;
		    font-size: 0.8rem;
		    margin-bottom: 1rem;
		    padding: 0.2rem 0.6rem;
		    -webkit-transition: all 200ms ease;
		       -moz-transition: all 200ms ease;
		         -o-transition: all 200ms ease;
		            transition: all 200ms ease;
		    &:hover {
		    	background-color: white;
		    	border: 1px solid white;
		    }
		}
	}
}

// PARTNERS
section.partners {
	padding: 2rem 0;
	h2 {
		text-align: center;
	}
	hr {
		border-color: black;
	}
	.logo {
		img {
			@include vertical-align;
		}
	}
}

// CONTACT US
section.contact-us {
	background-color: $orange;
	padding: 2.5rem 0;
	h2 {
		color: white;
		text-align: center;
	}
	hr {
		border-color: white;
	}
	input, textarea {
		margin-bottom: 0;
	}
}


/* =====================
    TALENT STYLES
   =====================
*/

// TALENT TAGLINE
.talent-tagline {
	p {
		color: white;
	    font-size: 1.8rem;
	    letter-spacing: 0.7rem;
		text-align: center;
	    text-transform: uppercase;
		@include vertical-align;
	}
}

// MOXY JOBS
section.moxy-jobs {
	background: $orange;
	padding: 3.5rem 0;
	h2 {
		color: white;
	}
	a.btn-join-network {
	    border: 3px solid white;
	    border-top: none;
	    color: white;
	    display: block;
	    font-family: $oswald;
	    font-weight: lighter;
	    font-size: 1.3rem;
	    letter-spacing: 2px;
	    text-align: center;
	    text-transform: uppercase;
	    padding: 1.8rem 1.6rem;
	    &:hover {
	    	.chevron-arrow {
				&:before {
					top: 10px;
				}
				&:after {
					top: 6px;
				}
			}
		}
	}
	.chevron-arrow {
	    position: relative;
	    display: block;
	    height: 38px;
    	margin-top: 1.7rem;
	    &:before, &:after {
		    position: absolute;
		    display: block;
    		left: calc(50% - 28px);
		    content: "";
		    border: 28px solid transparent;
		    @include transition-all;
		}
		&:before{
		    top: 0;
		    border-top-color: white;
		}
		&:after{
		    top: -4px;
		    border-top-color: $orange;
		}
	}
}

// HIRE MOXY TALENT
section.hire-moxy-talent, section.moxy-talent-network {
	background: $purple;
	padding: 3.5rem 0;
	h2 {
		color: white;
	}
}

// TALENT FORMS
.purple-bg-form {
	text-transform: uppercase;
	p {
		color: white;
	}
	input[type=text], input[type=tel], input[type=email], textarea {
	    border: 1px solid white;
	    background: none;
	    color: white;
	    padding: 1.8rem 1.3rem;
    	margin-bottom: 1.8rem;
		text-transform: uppercase;
		height: auto;
	}
	.options {
	    border: 1px solid white;
	    padding: 1.2rem 1.3rem 0.8rem 1.3rem;
	    color: white;
	    font-size: 0.9rem;
	    span.wpcf7-list-item-label {
		    margin: 0 2.4rem 0.6rem 0.3rem;
		}
	}
	input[type=submit] {
		background: none;
	    border: 2px solid $orange;
	    color: $orange;
	    font-size: 1.5rem;
	    letter-spacing: 4px;
	    padding: 1.6rem 0;
	    width: 100%;
	    @include transition-all;
	    &:hover {
	    	background: $orange;
	    	color: white;
	    }
	}
	.fileToUpload {
	  	color: transparent;
	  	&::before {
			content: 'Choose File';
		    color: white;
		    display: inline-block;
		    background: none;
		    border: 1px solid white;
		    padding: 0.6rem 0.9rem;
		    outline: none;
		    white-space: nowrap;
		    -webkit-user-select: none;
		    cursor: pointer;
		    font-size: 0.9rem;
		    text-transform: uppercase;
		}
		&::-webkit-file-upload-button {
		  	visibility: hidden;
		}
		&:active {
		  	outline: 0;
		}
		&:active::before {
		  	background: none; 
		}
	}
	div.wpcf7-mail-sent-ok {
	    border: 2px solid $orange;
	    color: white;
	}
}


/* =====================
    CREATIVE STYLES
   =====================
*/

// CREATIVE TAGLINE
.creative-tagline {
	p {
		color: white;
	    font-size: 1.8rem;
	    letter-spacing: 0.7rem;
		text-align: center;
	    text-transform: uppercase;
		@include vertical-align;
	}
}

// PORTFOLIO
section.portfolio {
	background: $orange;
	padding: 3.8rem 0 5rem 0;
	h2 {
		color: white;
	}
	.portfolio-slider {
		.row {
			padding: 0 0.9375rem !important;
		}
		.portfolio-item {
			padding: 0.6rem;
		}
		img {
			width: 100%;
		}
		.slick-dots {
			position: absolute;
		    bottom: -45px;
		    display: block;
		    width: 100%;
		    padding: 0;
		    margin-left: 0;
		    list-style: none;
		    text-align: center;
		    li {
				position: relative;
			    display: inline-block;
			    width: 20px;
			    height: 20px;
			    margin: 0 5px;
			    padding: 0;
			    cursor: pointer;
		    	button {
				    font-size: 0;
				    line-height: 0;
				    display: block;
				    width: 20px;
				    height: 20px;
				    padding: 5px;
				    cursor: pointer;
				    color: transparent;
				    border: 0;
				    outline: none;
				    background: transparent;
				    &:before {
				    	font-family: 'slick';
					    font-size: 50px;
					    line-height: 20px;
					    position: absolute;
					    top: 0;
					    left: 0;
					    width: 20px;
					    height: 20px;
					    content: '•';
					    text-align: center;
					    opacity: 1;
					    color: $purple;
					    -webkit-font-smoothing: antialiased;
					    -moz-osx-font-smoothing: grayscale;
				    }
				}
			}
			li.slick-active button:before {
			    opacity: 1;
			    color: white;
			}
		}
	}
}

// PORTFOLIO DETAIL MODAL
.portfolio-detail {
	padding: 3.5rem 3rem;
	h2 {
		font-size: 2rem;
    	margin-bottom: 0.5rem;
		span {
			color: $orange;
		}
	}
	p.portfolio-type {
	    color: gray;
	    text-transform: uppercase;
	    font-family: "Oswald";
	    font-weight: lighter;
	    font-size: 1.2rem;
	    text-align: center;
	}
	.portfolio-detail-slider {
		width: 100%;
		overflow: hidden;
		img {
			width: 100%;
		}
	}
	.portfolio-detail-slider-nav {
		overflow: hidden;
		margin-top: 0.7rem;
		margin-bottom: 1.5rem;
		.slick-slide {
			&:hover {
				cursor: pointer;
			}
			img {
				padding-right: 0.7rem;
			}
		}
	}
}

a {
	i.fa.fa-link {
		color: white;
		font-size: 0.95rem;
	    vertical-align: top;
	    margin-top: 0.45rem;
	    background: rgba($purple, 0.7);
	    border-radius: 100%;
	    padding: 0.5rem;
	    @include transition-all;
	}
    &:hover {
    	i.fa.fa-link {
    		background: rgba($purple, 1);
    	}
    }
}

// SERVICES
section.services {
	background: $purple;
	padding: 3.5rem 0 2rem 0;
	h2 {
		color: white;
	}
	img {
		width: 60%;
    	margin-bottom: 0.3rem;
	}
	h3 {
		color: white;
		font-size: 1rem;
    	letter-spacing: 1px;
	}
	p {
		color: white;
		font-size: 0.7rem;
    	text-align: justify;
	}
	.service {
	    margin-bottom: 3rem;
	}
	.third {
		.element {
			@include vertical-align;
			h3, p {
				color: $orange;
			}
		}
	}
}

// LET'S GET STARTED
section.lets-get-started {
	background: $orange;
	padding: 3rem 0 2rem 0;
	h2 {
		color: white;
	}
	p {
		color: white;
		text-align: center;
	}
	a.button {
		display: block;
	    background: none;
	    border: 1px solid white;
	    color: white;
	    font-size: 1.4rem;
	    font-family: "Arimo";
	    margin-top: 1.9rem;
	    padding: 1.1rem 2.2rem;
	    @include transition-all;
	    &:hover {
	    	background: white;
	    	color: $orange;
	    }
	}
}

/* =====================
    BLOG STYLES
   =====================
*/

.blog-title {
	background-position: top center;
	background-size: cover;
	height: auto;
	p {
		color: white;
	    font-size: 1.8rem;
	    letter-spacing: 0.3rem;
	    margin-bottom: 0;
	    padding: 7rem 1rem;
		text-align: center;
	    text-transform: uppercase;
	    max-width: 1000px;
    	margin: 0 auto;
	}
}

.blog-container {
	padding: 2rem 0;
	hr {
		margin: 2rem 0;
	}
	.blog-summary {
		h2 {
			margin-bottom: 0;
			text-transform: none;
		}
		img {
			margin: 1rem 0;
		}
	}
}

