/* =====================
    TOP BAR STYLES
   =====================
*/

.contain-to-grid {
	background: white;
	z-index: 2;
}

@media #{$small-only} { 

	.mobile-nav {
		position: absolute;
	    z-index: 999;
	    width: 100%;
		.top-bar {
			background: rgba(0,0,0, 0.3);
			.toggle-topbar.menu-icon a {
				color: white;
				span::after {
					box-shadow: 0 0 0 1px white,0 7px 0 1px white,0 14px 0 1px white;
				}
			}
			&.expanded {
    			background: white;
				height: 45rem;
				.title-area {
					background: white;
				}
				.toggle-topbar.menu-icon a {
					color: $orange;
					span::after {
						box-shadow: 0 0 0 1px $orange,0 7px 0 1px $orange,0 14px 0 1px $orange;
					}
				}
			}
		}
		.top-bar-section {
			ul {
				margin: 20% 0 0 0;
				li {
					background: white;
					&>a {
						color: $purple;
					    font-family: $oswald;
					    font-size: 1.2rem;
					    font-weight: normal;
					    letter-spacing: 1px;
					    padding-left: 0;
					    text-align: center;
						text-transform: uppercase;
						&:hover {
							background: $orange;
							color: white;
						}
					}
				}
			}
		}
	}

}

@media #{$medium-up} { 

	.top-bar {
		background: none;
		height: auto;
		line-height: 0;
		max-width: 75rem !important;
		text-align: center;
	}

	.top-bar-section {
		display: inline-block;
		ul {
			li {
				background: none;
			}
			li:not(.has-form) a:not(.button) {
				background: none;
				color: #333;
				font-size: 1rem;
				font-weight: normal;
				line-height: 5rem;
				padding: 0 1.5rem;
				text-transform: uppercase;
				-webkit-transition: all 200ms ease;
			       -moz-transition: all 200ms ease;
			         -o-transition: all 200ms ease;
			            transition: all 200ms ease;
				&:hover {
					background: none;
					color: $orange;
				}

				/* CSS Hover Styles */
				display: inline-block;
				vertical-align: middle;
				-webkit-transform: translateZ(0);
				transform: translateZ(0);
				box-shadow: 0 0 1px rgba(0, 0, 0, 0);
				-webkit-backface-visibility: hidden;
				backface-visibility: hidden;
				-moz-osx-font-smoothing: grayscale;
				position: relative;
				overflow: hidden;
				&:before {
					content: "";
					position: absolute;
					z-index: -1;
					left: 0;
					right: 0;
					bottom: 0;
					background: $orange;
					height: 8px;
					-webkit-transform: translateY(8px);
					transform: translateY(8px);
					-webkit-transition-property: transform;
					transition-property: transform;
					-webkit-transition-duration: 0.1s;
					transition-duration: 0.1s;
					-webkit-transition-timing-function: ease-out;
					transition-timing-function: ease-out;
				}
				&:hover:before, .hvr-underline-reveal:focus:before, .hvr-underline-reveal:active:before {
					-webkit-transform: translateY(0);
					transform: translateY(0);
				}
			}
		}
	}

}

// TABLET
@media only screen and (min-width: 51em) and (max-width: 65.25em) { 
	.top-bar-section {
		ul {
			li:not(.has-form) a:not(.button) {
				padding: 0 0.9rem;
			}
		}
	}
}


// MOBILE
@media only screen and (min-width: 40em) and (max-width: 55em) { 
	.top-bar-section {
		ul {
			li:not(.has-form) a:not(.button) {
				font-size: 0.8rem;
				padding: 0 0.68rem;
			}
		}
	}
}

@media only screen and (min-width: 40em) and (max-width: 43.75em) { 
	.top-bar-section {
		ul {
			li:not(.has-form) a:not(.button) {
				font-size: 0.7rem;
			}
		}
	}
}


/* =====================
    OFF-CANVAS STYLES
   =====================
*/

@media only screen and (min-width: ($topbar-breakpoint + em-calc(1))) {
  .tab-bar { display: none; }
}

// Hide the topbar when the screen size is smaller than the topbar breakpoint
@media only screen and (max-width: $topbar-breakpoint) {
  // .top-bar { display: none; }
}