/* =====================
    TYPOGRAPHY 
   =====================
*/

h1, h2, h3, h4, h5 {
	font-family: $oswald;
	text-transform: uppercase;
}

h1 {
	font-size: 1.9rem;
	letter-spacing: 0.4rem;
}

h2 {
	font-size: 1.6rem;
}